.about_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -2rem;
    padding: 2rem;
}

.about {
    display: flex;
    align-items: center;
    gap: 15rem;
}

.icon{
    padding-left: 15px;
}

/* Profile Image */
.fynshit {
    animation: none;
    width: auto;
    height: 50vh;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.info {
    width: 200px;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about_description {
    margin-top: 20px;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: left;
    width: 550px;
}

.sub-title{
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about_description {
        text-align: center;
        width: 100%;
        font-size: 1rem;
    }

    .info_container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: -12rem;
    }

    .info {
        height: auto;
        width: 100%;
        max-width: 250px;
    }
    .sub-title{
        margin-bottom: 10px;
    }

    .icon{
        padding-left: 15px;
    }
}
