.scrollDown {
    position: absolute;
    bottom: 100px;
    left: 30%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .scrollDown {
        font-size: 20px;
        height: 15vh;
    }
}

@media (max-width: 480px) {
    .scrollDown {
        font-size: 16px;
    }
}
